@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(to bottom right, rgba(15, 69, 141, 0.555), rgba(54, 54, 54, 0.8549019608), rgba(15, 69, 141, 0.555));
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease;
}

#navp-box {
  background-color: black;
}
#navp-box img {
  width: 100px;
  margin: 16px 16px;
  background-color: white;
}

.navh-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 26px;
  gap: 95px;
}
.navh-box a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: transform 0.6s;
}
.navh-box a:hover {
  color: lightseagreen;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .navh-box {
    flex-direction: column;
    font-size: 18px;
    text-align: center;
    gap: 10px;
  }
  .navh-box a {
    margin: 8px 0;
  }
  .navh-box a:hover {
    color: red;
  }
}
#base-box {
  background: linear-gradient(rgba(73, 95, 150, 0.75), rgba(73, 95, 150, 0.75)), url(/Imagenes/Japanese_Pattern_8.webp);
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 35px;
  padding-bottom: 70px;
}
#base-box h1 {
  font-size: 30px;
  margin-left: 61px;
}

.renglon {
  padding: 16px;
}

span {
  color: white;
}

header {
  margin-top: 101px;
}

.headrh-a-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
  margin-top: 55px;
  margin-bottom: 55px;
}
.headrh-a-box img {
  border: 2px solid black;
  transition: transform 0.6s ease;
  width: 100%;
}
.headrh-a-box img:hover {
  transform: scale(1.1);
}

.headrimg-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: solid 2px black;
  width: 1700px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.486);
}
.headrimg-box img {
  width: 350px;
}

@media (max-width: 768px) {
  .headrh-a-box {
    flex-direction: column;
    text-align: center;
    font-size: 20px;
  }
  .headrh-a-box h2 {
    margin-bottom: 10px;
  }
  .headrh-a-box a {
    margin-top: 10px;
  }
  .headrimg-box {
    width: 100%;
    height: auto;
  }
  .headrimg-box img {
    width: 100%;
  }
}
.hmain-box {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.hmain-box2 {
  text-align: justify;
  font-size: 30px;
  margin-left: 60px;
  margin-right: 60px;
}

.tabla {
  display: table;
  width: auto;
  border-collapse: collapse;
  margin-top: 20px;
  margin: auto;
}

.tabla-fila {
  display: table-row;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
}

.tabla-celda {
  display: table-cell;
  padding: 8px;
  border: 1px solid black;
  text-align: center;
}

@media (max-width: 768px) {
  .hmain-box {
    font-size: 24px;
  }
  .tabla {
    display: block;
    width: 100%;
    margin: 0;
  }
  .tabla-fila {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: white;
    padding: 8px;
  }
  .tabla-celda {
    font-size: 18px;
    border: 1px solid black;
    text-align: center;
  }
}
.pmain2-box {
  font-size: 30px;
  font-weight: bold;
  margin-left: 60px;
  margin-right: 60px;
}

.headrh-a-boxb {
  display: grid;
  grid-template-columns: repeat(3, 16.6666666667%);
  justify-content: center;
  align-content: center;
}
.headrh-a-boxb iframe {
  width: 75%;
  height: auto;
  border: none;
  margin: 20px;
  transition: transform 0.5s ease;
}
.headrh-a-boxb iframe:hover {
  transform: scale(1.2);
}

#ftrp-box {
  background-color: rgba(0, 0, 0, 0.692);
}
#ftrp-box img {
  width: 100px;
  margin: 16px 16px;
  background-color: white;
}

.ftrh-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 26px;
  gap: 96px;
}
.ftrh-box i {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: transform 0.6s;
}
.ftrh-box i:hover {
  color: lightseagreen;
  transform: scale(1.1);
}

.container-md {
  background: linear-gradient(rgba(73, 95, 150, 0.75), rgba(73, 95, 150, 0.75)), url(/Imagenes/Japanese_Pattern_8.webp);
  margin-left: 120px;
  margin-right: 120px;
}

.container-mdh {
  display: flex;
  flex-direction: column;
}
.container-mdh h1 {
  margin-left: 61px;
  margin-top: 35px;
  margin-right: 61px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 37px;
}

.imgclases-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 61px;
}
.imgclases-box img {
  width: 650px;
}

@media (max-width: 888px) {
  .imgclases-box img {
    width: 100%;
    max-width: 650px;
  }
}
.container-mdh h2 {
  margin-left: 61px;
  margin-bottom: 40px;
  font-size: 28px;
}

.container-md2 {
  margin-left: 120px;
  margin-right: 120px;
}

.container-md2 {
  display: flex;
  flex-direction: column;
}
.container-md2 h2 {
  margin-left: 61px;
  margin-top: 35px;
  margin-right: 61px;
  margin-bottom: 45px;
  text-align: justify;
  font-size: 31px;
}

.container-md__img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
  gap: 25px;
}
.container-md__img img {
  width: 650px;
  max-width: 100%;
  height: auto;
  display: block;
}

.containr-tecnicas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: justify;
}
.containr-tecnicas h2 {
  margin-left: 61px;
  margin-top: 35px;
  margin-right: 61px;
  margin-bottom: 35px;
  font-size: 31px;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 95%;
  margin: 25px auto;
}
.table th,
.table td {
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
  text-align: justify;
  vertical-align: auto;
  border-bottom: 1px solid white;
  font-size: 29px;
}

.form-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 25px 30px;
  font-size: 28px;
}
.form-box legend, .form-box label {
  font-weight: bold;
  color: greenyellow;
}
.form-box img.img-center {
  width: 150px;
  display: block;
  margin: 25px auto;
}
.form-box fieldset {
  margin-top: 20px;
  padding: 20px;
  border: solid 1px #ccc;
}
.form-box button {
  background-color: greenyellow;
  transition: transform 0.3s, background-color 0.3s;
  font-size: 28px;
}
.form-box button:hover {
  transform: scale(1.05);
  background-color: orangered;
}
.form-box input {
  font-size: 28px;
}

.form-floating select {
  font-size: 28px;
}

.ancho-personalizado {
  width: 500px;
}

.h2-form {
  font-size: 30px;
  text-align: center;
  padding: 25px;
}

#cuadri-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 52px;
  gap: 25px;
  font-size: 50px;
  background-image: linear-gradient(to bottom right, rgba(15, 69, 141, 0.555), rgba(54, 54, 54, 0.8549019608), rgba(15, 69, 141, 0.555));
}
#cuadri-box .cuadri-hbox {
  position: relative;
  width: auto;
  height: 300px;
  border: solid 2px black;
  text-align: center;
  background: linear-gradient(rgba(73, 95, 150, 0.75), rgba(73, 95, 150, 0.75)), url(/Imagenes/Japanese_Pattern_8.webp);
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
}
#cuadri-box .cuadri-hbox::before {
  content: attr(data-text); /* Muestra el texto original */
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  white-space: nowrap;
  animation: slide 15s linear infinite;
  color: rgb(17, 20, 24);
  font-size: 50px;
  font-weight: bold;
}

.color-1 {
  font-size: 51px;
  text-align: left;
  color: greenyellow;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.sokaku-senseih {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.sokaku-senseih img {
  width: 400px;
}
.sokaku-senseih p {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline white;
}

#bannr-izq {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 52%;
  background-color: rgb(72, 22, 78);
  padding: 1%;
  gap: 7%;
}
#bannr-izq iframe {
  transform: scale(1);
  transition: transform 0.3s ease;
}
#bannr-izq h2 {
  font-size: 160%;
  color: white;
}

#bannr-izq iframe:hover {
  transform: scale(1.4);
}

#bannr-der {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 52%;
  background-color: rgb(72, 22, 78);
  padding: 1%;
  gap: 7%;
  margin-left: auto;
}
#bannr-der iframe {
  transform: scale(1);
  transition: transform 0.3s ease;
}
#bannr-der h2 {
  font-size: 160%;
  color: white;
}

#bannr-der iframe:hover {
  transform: scale(1.4);
}

#bannr-izq {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 34%;
  background-color: rgb(72, 22, 78);
  padding: 1%;
  gap: 7%;
}

#bannr-der {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  align-items: center;
  width: 34%;
  background-color: rgb(72, 22, 78);
  padding: 1%;
  gap: 7%;
  margin-left: auto;
}

/* Media query para pantallas de 768px o menos */
@media screen and (max-width: 768px) {
  #bannr-izq {
    width: 100%; /* Ocupa todo el ancho en pantallas más pequeñas */
    justify-content: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Alinea el texto al centro */
  }
  #bannr-der {
    width: 100%; /* Ocupa todo el ancho en pantallas más pequeñas */
    justify-content: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Alinea el texto al centro */
  }
  /* Ajusta el tamaño de fuente para pantallas más pequeñas */
  #bannr-izq h2,
  #bannr-der h2 {
    font-size: 120%;
  }
}
.image-band {
  overflow: hidden;
  position: relative;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  animation: scroll 40s linear infinite; /* Ajusta la duración y velocidad de desplazamiento aquí */
  animation-delay: 0s;
}

.image-container img {
  width: 200px; /* Asegúrate de que las imágenes ocupen todo el ancho */
  margin-right: 20px; /* Espacio entre las imágenes (ajusta según sea necesario) */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%); /* Desplazamiento completo hacia la izquierda */
  }
}
@media screen and (max-width: 768px) {
  .image-container {
    animation: none; /* Detener la animación en pantallas más pequeñas */
  }
  .image-container img {
    width: 100px; /* Ajusta el tamaño de las imágenes para pantallas más pequeñas */
    margin-right: 10px; /* Espacio entre las imágenes para pantallas más pequeñas */
  }
  /* Ajusta el tamaño de fuente para pantallas más pequeñas */
  .image-container h2 {
    font-size: 120%;
  }
}

/*# sourceMappingURL=estilos.css.map */
