*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    overflow-x: hidden;
    // background-image: linear-gradient(to bottom right, #dad4d4, #363636da, #dad4d4);
    // background-image: linear-gradient(to bottom right, rgba(32, 178, 171, 0.555), #363636da, rgba(32, 178, 171, 0.555));
    // background-image: linear-gradient(to bottom right, rgba(32, 95, 178, 0.555), #363636da, rgba(32, 95, 178, 0.555));
    background-image: linear-gradient(to bottom right, rgba(15, 69, 141, 0.555), #363636da, rgba(15, 69, 141, 0.555));
}

// seccion del NAV

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease;
}

#navp-box {
    background-color: black;
        img {
            width: 100px;
            margin: 16px 16px;
            background-color: white;
    }
}

.navh-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 26px;
    gap: 95px;
        a {
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: transform 0.6s;
            &:hover {
                color: lightseagreen;
                transform: scale(1.2);
            }
        }
}

@media (max-width: 768px){
    .navh-box {
        flex-direction: column;
        font-size: 18px;
        text-align: center;
        gap: 10px;
            a {
                margin: 8px 0;
                &:hover {
                    color: red;
                }
            }
    }
}



#base-box {
    background: linear-gradient(rgba(73, 95, 150, 0.75), rgba(73, 95, 150, 0.75)), url(/Imagenes/Japanese_Pattern_8.webp);
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 35px;
    padding-bottom: 70px;
        h1 {
            font-size: 30px;
            margin-left: 61px;
        }
}

.renglon {
    padding: 16px;
}

span {
    color: white;
}

// Comienza la Seccion del Header

header {
    margin-top: 101px;
}

.headrh-a-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    margin-top: 55px;
    margin-bottom: 55px;
    img {
        border: 2px solid black;
        transition: transform 0.6s ease;
        width: 100%;
    }
    img:hover {
        transform: scale(1.1);
    }
}

.headrimg-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: solid 2px black;
    width: 1700px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.486);
    img {
        width: 350px;
    }
}

@media (max-width: 768px) {
    .headrh-a-box {
        flex-direction: column;
        text-align: center; 
        font-size: 20px;
        
        h2 {
            margin-bottom: 10px;
        }
        
        a {
            margin-top: 10px; 
        }
    }
    
    .headrimg-box {
        width: 100%; 
        height: auto;
        
        img {
            width: 100%;
        }
    }
}

// Comienza seccion del main

.hmain-box {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.hmain-box2 {
    text-align: justify;
    font-size: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

.tabla {
    display: table;
    width: auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin: auto;
}

.tabla-fila {
    display: table-row;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
}

.tabla-celda {
    display: table-cell;
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}

@media (max-width: 768px) {
    .hmain-box {
        font-size: 24px; 
    }

    .tabla {
        display: block; 
        width: 100%; 
        margin: 0; 
    }

    .tabla-fila {
        font-size: 24px; 
        display: flex; 
        justify-content: space-between;
        margin-bottom: 10px;
        background-color: white;
        padding: 8px;
    }

    .tabla-celda {
        font-size: 18px; 
        border: 1px solid black;
        text-align: center;
    }
}

.pmain2-box {
    font-size: 30px;
    font-weight: bold;
    margin-left: 60px;
    margin-right: 60px;
}

.headrh-a-boxb {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 6));
    justify-content: center;
    align-content: center;
        iframe {
            width: 75%;
            height: auto;
            border: none;
            margin: 20px;
            transition: transform 0.5s ease;
                &:hover {
                    transform: scale(1.2);
                }
    }
}

// De aqui inicia seccion del footer

#ftrp-box {
    background-color: rgba(0, 0, 0, 0.692);
        img {
            width: 100px;
            margin: 16px 16px;
            background-color: white;
        }
}

.ftrh-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 26px;
    gap: 96px;
        i {
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: transform 0.6s;
                &:hover {
                    color: lightseagreen;
                    transform: scale(1.1);
                }
        }
}

// Aqui inicia bootstrap

.container-md {
    background: linear-gradient(rgba(73, 95, 150, 0.75), rgba(73, 95, 150, 0.75)), url(/Imagenes/Japanese_Pattern_8.webp);
    margin-left: 120px;
    margin-right: 120px;
}

.container-mdh {
    display: flex;
    flex-direction: column;
            h1 {
                margin-left: 61px;
                margin-top: 35px;
                margin-right: 61px;
                margin-bottom: 35px;
                text-align: center;
                font-size: 37px;
        }
}

.imgclases-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 61px;
    img {
        width: 650px;
    }
}

@media (max-width: 888px) {
    .imgclases-box img {
        width: 100%; 
        max-width: 650px; 
    }
}

.container-mdh h2 {
        margin-left: 61px;
        margin-bottom: 40px;
        font-size: 28px;
}

.container-md2 {
    margin-left: 120px;
    margin-right: 120px;
}

.container-md2 {
    display: flex;
    flex-direction: column;
            h2 {
                margin-left: 61px;
                margin-top: 35px;
                margin-right: 61px;
                margin-bottom: 45px;
                text-align: justify;
                font-size: 31px;
        }
}

// Aqui inicia seccion del main en "nosotros"

.container-md__img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px ;
    gap: 25px;
        img {
            width: 650px;
            max-width: 100%;
            height: auto;
            display: block;
        }
}

.containr-tecnicas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: justify;
        h2 {
            margin-left: 61px;
            margin-top: 35px;
            margin-right: 61px;
            margin-bottom: 35px;
            font-size: 31px;
        }
}

// esta es la seccion para la tabla en Main

.table {
    border-collapse: separate;
    border-spacing: 0; 
    width: 95%; 
    margin: 25px auto;
    
    th,
    td {
      margin-left: 10px;
      margin-right: 10px;
      padding: 2px;
      text-align: justify;
      vertical-align: auto; 
      border-bottom: 1px solid white;
    }
  }

//   inicia seccion de Formularios

.form-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 25px 30px;
        legend, label {
            font-weight: bold;
            color: greenyellow;
        }
            img.img-center {
                width: 150px;
                
                display: block;
                margin: 25px auto;
            }
                fieldset {
                    margin-top: 20px;
                    padding: 20px;
                    border: solid 1px #ccc;
                }
                    button {
                        background-color: greenyellow;
                        transition: transform 0.3s, background-color 0.3s;
                    }
                        button:hover {
                            transform: scale(1.05);
                            background-color: orangered;
                        }
}

.ancho-personalizado {
    width: 500px;
}

.h2-form {
    text-align: center;
    padding: 25px;
}


// Comienza seccion de pagina Eventos

#cuadri-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 52px;
    gap: 25px;
    font-size: 50px;
    background-image: linear-gradient(to bottom right, rgba(15, 69, 141, 0.555), #363636da, rgba(15, 69, 141, 0.555));
    
    .cuadri-hbox {
        position: relative;
        width: auto;
        height: 300px;
        border: solid 2px black;
        text-align: center;
        background: linear-gradient(rgba(73, 95, 150, 0.75), rgba(73, 95, 150, 0.75)), url(/Imagenes/Japanese_Pattern_8.webp);
        white-space: nowrap;
        overflow: hidden;
        font-size: 24px;
        
        &::before {
            content: attr(data-text); /* Muestra el texto original */
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            white-space: nowrap;
            animation: slide 15s linear infinite;
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}